﻿            </div>
<!-- END container-fluid -->
        </div>
<!-- END content -->
    </div>
<!-- END content-page -->

<footer class="footer">
    <span class="text-right">
        Copyright <a target="_blank" href="#">Petrol Station</a>
    </span>
    <span class="float-right">
        Powered by <b>Group number 1</b>
    </span>
</footer>

</div>
<!-- END main -->

<script src="~/Content/js/modernizr.min.js"></script>
<script src="~/Content/js/jquery.min.js"></script>
<script src="~/Content/js/moment.min.js"></script>
<script>$('#form2').hide();
$('#form1').hide();
$("#radio1").on("click", function(){
        $('#form2').hide();
        $('#form1').show();
});

$("#radio2").on("click", function(){
  $('#form1').hide();
  $('#form2').show();
});</script>
<script>$('#form2').hide();
$('#form1').hide();
$('#formForInvoice').hide();

$("#radioInvoice").on("click", function(){
        $('#formForInvoice').show();
});

$("#radioReceipt").on("click", function(){
  $('#formForInvoice').hide();
  $('#form1').hide();
  $('#form2').hide();
});

$("#radioPrivate").on("click", function(){
        $('#form2').hide();
        $('#form1').show();
});

$("#radioCompany").on("click", function(){
  $('#form1').hide();
  $('#form2').show();
});</script>

<script src="~/Content/js/popper.min.js"></script>
<script src="~/Content/js/bootstrap.min.js"></script>

<script src="~/Content/js/detect.js"></script>
<script src="~/Content/js/fastclick.js"></script>
<script src="~/Content/js/jquery.blockUI.js"></script>
<script src="~/Content/js/jquery.nicescroll.js"></script>
<script src="~/Content/js/jquery.scrollTo.min.js"></script>
<script src="~/Content/plugins/switchery/switchery.min.js"></script>

<!-- App js -->
<script src="~/Content/js/pikeadmin.js"></script>

<!-- BEGIN Java Script for this page -->
<script src="~/Content/plugins/datetimepicker/js/moment-with-locales.js"></script>
<script src="~/Content/plugins/datetimepicker/js/daterangepicker.js"></script>
<script src="~/Content/plugins/select2/js/select2.min.js"></script>
<script>$(document).ready(function() {
    $('.select2').select2();
});</script>
<script type="text/javascript">$("#theSelect").change(function() {
                       $("#price").text($(this).val());
                       }).change(); // trigger once if needed</script>
<script type="text/javascript">$(".theSelect2").change(function() {
                       //something function for a val to form client or companu</script>
</body>
</html>
