﻿<!-- Calendly inline widget begin -->
<div class="row" height="">
    <div class="col-md-12" style="height:780px;"">
        <div class="calendly-inline-widget" data-url="https://calendly.com/kuba66555/30min" style="min-width:320px;height:900px;"></div>
        <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
    </div>
</div>
<!-- Calendly inline widget end -->