﻿
<div class="row">

    <div class="col-lg-8 offset-lg-2">
        <div class="card mb-3">
            <div class="card-header">
                <h3><i class="fas fa-user-plus"></i> Dodaj pracownika</h3>

            </div>

            <div class="card-body">

                @using (Html.BeginForm("AddWorker", "Workers"))
                {
                    <div class="form-group">
                        <label for="userName">Imię<span class="text-danger">*</span></label>
                        <input type="text" name="userName" data-parsley-trigger="change" required placeholder="Wprowadź imię" class="form-control" id="userName">
                    </div>
                    <div class="form-group">
                        <label for="userLastName">Nazwisko<span class="text-danger">*</span></label>
                        <input type="text" name="userLastName" data-parsley-trigger="change" required placeholder="Wprowadź nazwisko" class="form-control" id="userLastName">
                    </div>
                    <div class="form-group">
                        <label for="pesel">PESEL<span class="text-danger">*</span></label>
                        <input id="pesel" name="pesel" type="text" placeholder="PESEL" required class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="role">Czy uprawiony?</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="uprawniony" id="uprawniony" value="uprawniony" checked>
                            <label class="form-check-label" for="uprawniony">
                                Uprawniony
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="uprawniony" id="nieuprawniony" value="nieuprawniony">
                            <label class="form-check-label" for="nieuprawniony">
                                Nieuprawniony
                            </label>
                        </div>
                    </div>


                    <div class="form-group text-right m-b-0">
                        <button class="btn btn-primary" type="submit">
                            Zatwierdź
                        </button>
                    </div>
                }


            </div>
        </div><!-- end card-->
    </div>
</div>