﻿@model ProjZes.Models.Customer

<div class="row">

    <div class="col-lg-8 offset-lg-2">
        <div class="card mb-3">
            <div class="card-header">
                <h3><i class="fas fa-user-plus"></i> Dodaj klienta</h3>

            </div>

            <div class="card-body">

                <div class="form-group">
                    <label for="userName">Rodzaj klienta<span class="text-danger">*</span></label>
                    <button id="radio1" type="button" class="btn btn-primary">Osoba prywatna</button>
                    <button id="radio2" type="button" class="btn btn-primary">Firma</button>
                </div>

                @using (Html.BeginForm("AddCustomer", "Customers"))
                {
                    <div class="form-group">
                        <label for="userName">Imię<span class="text-danger">*</span></label>
                        <input type="text" name="userName" data-parsley-trigger="change" required placeholder="Wprowadź imię" class="form-control" id="userName">
                    </div>
                    <div class="form-group">
                        <label for="userLastName">Nazwisko<span class="text-danger">*</span></label>
                        <input type="text" name="userLastName" data-parsley-trigger="change" required placeholder="Wprowadź nazwisko" class="form-control" id="userLastName">
                    </div>
                    <div class="form-group">
                        <label for="pesel">PESEL<span class="text-danger">*</span></label>
                        <input id="pesel" name="pesel" type="text" placeholder="PESEL" required class="form-control">
                    </div>


                    <div class="form-group text-right m-b-0">
                        <button class="btn btn-primary" type="submit">
                            Zatwierdź
                        </button>
                    </div>
                }



                <!--Form dla firmy -->
                <form id="form2" action="#" data-parsley-validate novalidate>
                    <div class="form-group">
                        <label for="userName">Nazwa firmy<span class="text-danger">*</span></label>
                        <input type="text" name="nick" data-parsley-trigger="change" required placeholder="Wprowadź nazwę firmy" class="form-control" id="userName">
                    </div>
                    <div class="form-group">
                        <label for="userLastName">Adres<span class="text-danger">*</span></label>
                        <input type="text" name="nick" data-parsley-trigger="change" required placeholder="Wprowadź adres do faktury" class="form-control" id="userAddress">
                    </div>
                    <div class="form-group">
                        <label>NIP<span class="text-danger">*</span></label>
                        <div>
                            <input id="userNIP" data-parsley-type="number" type="text" class="form-control" required placeholder="Wprowadź NIP" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="emailAddress">Email adres<span class="text-danger">*</span></label>
                        <input type="email" name="email" data-parsley-trigger="change" required placeholder="Wprowadź e-mail" class="form-control" id="emailAddress">
                    </div>
                    <div class="form-group">
                        <label for="pass1">Hasło<span class="text-danger">*</span></label>
                        <input id="pass1" type="password" placeholder="Hasło" required class="form-control">
                    </div>
                    <div class="form-group text-right m-b-0">
                        <button class="btn btn-primary" type="submit">
                            Zatwierdź
                        </button>
                    </div>

                </form>
            </div>
        </div><!-- end card-->
    </div>
</div>